.App {

}
/* .centered-page h2{
    text-align: center;

} */
.centered-page p{
    text-align: center;
}
footer{
    background-color: #ededed;
    padding: 1rem;
    text-align: center;
}
footer p{
    color: #000;
  /* line-height: 1.6; */
  font-size: 21px;
}
footer p strong{
    color: #e4721c;
    font-weight: 400;
}
footer a{
    text-decoration: none;
    color: #e4721c;
}
footer a:hover{
    color: #000;
 
}
/* Media Queries */
@media (max-width: 720px) {
    footer p {
      font-size: 15px;
    
    
    }
  }
  
  @media (max-width: 549px) {
    footer p {
      font-size: 13px;
 
    }
}
@media (max-width: 479px) {
    footer p {
   font-size: 10px;
   /* padding-right: 10px; */
  
    }
}
@media (max-width: 376px) {
    footer p {
      font-size: 8px;
  
    }
}
 
.centered-page .about-me {
    padding: 1.5rem;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 900px;
  }
.centered-page h2{
    color: #e4721c;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 27px;
font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
.centered-page p{
    text-align: center;
    font-size: 18px;
    line-height: 1.9;
    padding: 12px;
   opacity: 0.8;
   font-family: 'Times New Roman', Times, serif;
}
.centered-page ul{
    list-style: none;
    padding: 0;
    margin: 0 auto 2rem;
}
.centered-page ul li{
    font-size: 17px;
  margin-bottom: 0.8rem;
  line-height: 1.5;
  padding-left: 1.5rem;
  position: relative;
 font-family: 'Times New Roman', Times, serif;

}

.centered-page ul li::before{
    content: "✅";
    color: #e4721c;
    position: absolute;
    left: 0;
}
  @media (max-width:530px) {
    .centered-page .about-me{
        padding: 1rem;
        margin: 10px auto;
      
    }
   .centered-page h2{
    font-size: 21px;
   }
   .centered-page p{
    font-size: 16px;
    line-height: 1.8;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* padding: 5px; */
   }
    
  }
  @media (max-width:400px) {
    .centered-page p{
        font-size: 14px;
        line-height: 1.6;
    }
    
  }
  