*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
     box-shadow:  0 1px 2px 0 rgba(88, 99, 33, 0.2);
}
.intro{
    /* background-color: #1b1b1b ; */
    /* max-width: 850px; */
 /* margin: 16px auto; */
/* height: 70vh; */
 color: #000;
 padding: 2rem;

 

 /* box-shadow:  0 1px 2px 0 rgba(88, 99, 33, 0.2); */

 
}
.intro h1{
    font-size: 3rem;
    margin-bottom: 0.5rem;

}
.intro h2{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.intro p{
    font-size: 22px;
    line-height: 1.5;
   opacity: 0.7;
}
.me{
    
}
.intro button{
    padding: 8px 14px;
    font-size: 21px;
    background-color:#e4721c;
    border: none;
    border-radius: 4px;
    margin-right: 20px;
    color: aliceblue;

}

.my-image{
  width: 200px;
  height: 200px;
    border-radius: 50%;
    border: 3px solid #e4721c;
    margin-top: 50px;
   
}
  
.social-icons{
  
}
.social-icons a{
    color: #e4721c;
    font-size: 30px;
    padding: 8px;
   
}