*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.intro{
    background-color: #1b1b1b ;
    max-width: 850px;
 margin: 16px auto;
/* height: 70vh; */
 color: #fff;
 padding: 2rem;
 text-align: center;
 box-shadow:  0 1px 2px 0 rgba(88, 99, 33, 0.2);

 
}
.intro h1{
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
.intro h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.intro p{
    font-size: 1.1rem;
    color: #ccc;
}
.me{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 30px;
   margin-bottom: 12px;
}
.me button{
    padding: 8px 14px;
    font-size: 20px;
    background-color: beige;
    border: none;
    border-radius: 4px;
    margin-right: 20px;

}

.my-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
   border: 4px dotted beige;
}
  