.navbar-container{
 width: 100%;
  background-color: #fff;
  padding: 10px 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.navbar{
  display: flex;
 
}
.navlinks ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
  
}

.navlinks li{
  /* font-size: 24px; */
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
transition: color 0.3s ease;
cursor: pointer;
}
.navlinks li:hover{
  background-color: #e4721c;
}
.navbar img{
  width: 150px;
}

.nav-menu{
  display: none;
}
.links{
  text-decoration: none;
  color: #333;
    font-size: 24px;
}
@media (max-width:580px) {
  .nav-menu{
    display: block;
   
  }
  .navlinks{
     display: none;
     flex-direction: column;
      background-color: #fff;
  padding: 10px;
 justify-content: center;
 align-items: center;

  }
  .show{
    display: flex;
   
  }
  
}