.navbar-container{
 /* width: 100%; */
padding: 5px 12px;
  position: sticky;
  top: 0;
  z-index: 10; 
  background-color: #fff; 
  /* padding: 0.7rem; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.navbar{
  display: flex;

 
}
.navlinks ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;

  
}
.navlinks a{
  font-size: 25px;
}

.navlinks li{
transition: color 0.3s ease;
cursor: pointer;
}
.navlinks a:hover{
  background-color: #e4721c;
}
.links.active{
  background-color: #e4721c;
  color: #fff;
}
.navbar img{
  width: 200px;
}

.nav-menu{
  display: none;
}
.links{
  text-decoration: none;
  color: #333;
    font-size: 24px;
}

@media (max-width:580px) {
  .nav-menu{
    display: block;
    font-size: 22px;
    color: #e4721c;
  
  }
  .navlinks a{
    font-size: 21px;
  }

  .navlinks{
     display: none;
     align-items: center;
     justify-content: center;
     padding: 1rem;
     
  }
 
  .show{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .links{
    font-size: 18px;
  }
  .navbar img{
    width: 170px;
  }
  
}