.navbar-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.navbar{
  display: flex;
 align-items: center;
 padding: 20px 0;
 gap: 40px;
}
.navlinks ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  
}
.navlinks li{
  font-size: 24px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
transition: color 0.3s ease;
cursor: pointer;
}
.navlinks li:hover{
  background-color: #e4721c;
}
.navbar img{
  width: 200px;
  height: auto;
}