.skills-container{
  padding: 2rem;
  max-width: 1200px;
  margin: 20px 0;
  /* background-color: #eeeeee; */
  
  
 
}
.skills-content{
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
}
.skills-container h2{
    font-size: 40px;
  color: #e4721c;
  /* white-space: nowrap; */
  font-family: monospace;
   margin-bottom: 0.3rem;
}
.skills-container p{
    font-size: 20px;
  color: #000;
  line-height: 1.4;
  opacity: 0.8;
  /* text-align: center; */
  max-width: 80%;
  /* padding: 15px; */
   margin-top: 0.3rem;
}
.simple-line{
   height: 3px;
  width: 90px;
background-color: #000;
  margin: 10px 0;
}
.skills-card{
 background-color: #eee;
  display: grid;
 grid-template-columns: repeat(3,4fr);
  gap: 20px;
  padding: 0 1rem;

}
.skill-card h3{
    font-size: 21px;
    line-height: 1.4;
    color: #333;
}
.skill-card p{
  font-size: 18px;
    line-height: 1.5;
    padding: 10px 5px;  
    margin: 0 auto;
    /* text-align: center; */
}
.card-icon{
    color: #e4721c;
    font-size: 40px;
}
.skill-card{
  background-color: #fff;
  text-align: center;
 box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
   margin: 12px;
   border-radius: 5px;
 
    
}
.skill-card:hover {
  transform: translateY(-5px);
 
}
@media (max-width:980px) {
    .skills-card{
        display: grid;
        grid-template-columns: 1fr;
       
    }
    .skill-card{
        text-align: center;
    }
    .skill-card p{
        font-size: 16px;
        line-height: 1.4;
        padding: 10px 7px;
    }
    .skill-card h3{
        font-size: 20px;
    }
    .skills-container h2{
        font-size: 28px;
    }
    .skills-container p{
        font-size: 16px;
        line-height: 1.4;
        max-width: 90%;
        padding: 5px;
        /* margin-bottom: .4rem; */
    }

    
}
