.skills-container{
  padding: 2rem;
  max-width: 1200px;
  margin: 20px 0;
  /* background-color: #eeeeee; */
  
  
 
}
.skills-content{
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
}
.skills-container h2{
    font-size: 40px;
  color: #e4721c;
  /* white-space: nowrap; */
  font-family: monospace;
   margin-bottom: 0.3rem;
}
.skills-container p{
    font-size: 20px;
  color: #000;
  line-height: 1.8;
  opacity: 0.8;
  /* text-align: center; */
  max-width: 80%;
  /* padding: 15px; */
   margin-top: 0.3rem;
}
.simple-line{
   height: 3px;
  width: 90px;
background-color: #000;
  margin: 10px 0;
}
.skills-card{
 background-color: #eee;
  display: grid;
 grid-template-columns: repeat(3,4fr);
  gap: 20px;
  padding: 0 1rem;

}
.skill-card h3{
    font-size: 21px;
    line-height: 1.4;
    color: #333;
}
.skill-card p{
  font-size: 18px;
    line-height: 1.5;
    padding: 10px 5px;  
    margin: 0 auto;
    /* text-align: center; */
}
.card-icon{
    color: #e4721c;
    font-size: 40px;
}
.skill-card{
  background-color: #fff;
  text-align: center;
 box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
   margin: 12px;
   border-radius: 5px;
 
    
}
.skill-card:hover {
  transform: translateY(-5px);
 
}
.soft-skills{
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  gap: 20px;
  margin: 20px auto;
  padding: 1rem;
  max-width: 900px;
  flex-wrap: wrap;

}
.soft-skills h2{
  font-size: 28px;
}
.soft-skills p{
  font-size: 18px;
  line-height: 2;
  max-width: 400px;
  color: #333;
}
.seperate-line{
  /* border: 2px solid #e4721c; */
  width: 2px;
  background-color: #e4721c;
  height: 150px;


}
.soft-skill h4 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

.soft-skill ul {
  /* list-style: none; */
  /* padding-left: 70px; */
}

.soft-skill ul li {
  font-size: 18px;
  margin-bottom: 8px;
  color: #444;
}

.qualifications{
  padding: 2rem;
  /* text-align: center; */
  max-width: 1000px;
  margin: auto;
}
.qualifications-intro{
  /* padding-left: 30px; */

}
.qualifications-intro h2{
  font-size: 28px;
  margin-bottom: 10px;

}
.qualifications-intro p{
  line-height: 1.6;
  font-size: 18px;
  margin-bottom: 2rem;

}
.certificate-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  
}
.certificate-card {
  background-color: #fff;
  border-left: 4px solid #e4721c;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  /* transition: transform 0.2s ease; */
  padding: 1rem;
  animation: popIn 0.6s ease-out forwards;
  animation-delay: calc(var(--i) * 0.2s);
  /* opacity: 0;  */
  transform: scale(0.8); 
  
}
.certificate-card h4{
  margin-bottom: 8px;
  font-size: 20px;
  color: #222;
}
.certificate-grid .certificate-card p{
  font-size: 16px;
  color: #333;
  max-width: 300px;
  
}
@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
 .me button{
 display: block;
 margin: 20px auto;
 background-color: #e4721c;
 color: #fff;
 padding: 10px 15px;
 border-radius: 5px;
 border: none;
 font-size: 24px;

 }
.me a{
  text-decoration: none;
 }

  

@media (max-width:980px) {
    .skills-card{
        display: grid;
        grid-template-columns: 1fr;
       
    }
    .skill-card{
        text-align: center;
    }
    .skill-card p{
        font-size: 16px;
        line-height: 1.4;
        padding: 10px 7px;
    }
    .skill-card h3{
        font-size: 20px;
    }
    .skills-container h2{
        font-size: 28px;
    }
    .skills-container p{
        font-size: 16px;
        line-height: 1.4;
        max-width: 90%;
        padding: 5px;
        /* margin-bottom: .4rem; */
    }

    
}
@media (max-width:979px) {
  .seperate-line{
    display: none;
  }
  .soft-skills{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

  }
  /* .soft-skill ul{
    list-style: none;
  } */
  
}
@media (max-width: 768px) {
  .soft-skills {
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
  }

  .seperate-line {
    display: none;
  }
  .qualifications{
    max-width: 700px;
    padding: 1rem;
  }
  .certificate-grid{

  }
  .certificate-card h4{
    font-size: 18px;
  }
  .certificate-card p{
    line-height: 2;
    font-size: 17px;
  }
}
@media (max-width:698px) {
  .certificate-grid{
    display: grid;
    grid-template-columns: 1fr;
  }
  
  
}
@media (max-width:460px) {
  .soft-skills h2{
    font-size: 24px;
   
  }
  .soft-skills p{
    /* font-size: 15px; */
    line-height: 1.9;
    max-width: 550px;
  }
  
  
}
@media (max-width:512px) {

  .qualifications .qualifications-intro h2 {
    font-size: 18px;
  }
  
}
  @media (max-width:400px) {
    .soft-skills h2{
      font-size: 18px;
    }
    .soft-skills p{
      /* max-width: 900px; */
    }
    .qualifications .qualifications-intro h2{
      font-size: 16px;

    }
    .qualifications .qualifications-intro p{
      font-size: 15px;
      line-height: 1.5;
    }
    
  }
  @media (max-width:890px) {
    .qualifications-intro h2{
      font-size: 26px;
    }
    .qualifications-intro p{

    }
   
   .certificate-card h4{
    font-size: 17px;
   }
   .certificate-card p{
    font-size: 14px;
   }
  }

